* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;

	/* background-color: #594060; */
	/* background-color: rgb(47, 77, 117); */
	background-color: rgb(1, 54, 46);
	color: white;
}